@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
  
  a {
    @apply no-underline text-inherit;
  }
  
  button {
    @apply cursor-pointer border-none outline-none;
  }
  
  input,
  textarea {
    @apply outline-none;
  }
}




